@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

body {
  margin: 0;
  background-color: #0a0a0a;
  color: #f4f4f4;
  font-family: 'Bona Nova SC', serif;
  line-height: 1.7;
  text-align: justify;
}

header {
  background-color: #111111;
  padding: 25px 0;
  border-bottom: 1px solid #222;
  text-align: center;
}

.site-title {
  font-family: 'Baskervville SC', serif;
  color: #00d4aa;
  font-size: 2rem;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

h1 {
  color: #00d4aa;
  font-family: 'Baskervville SC', serif;
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 25px;
}

.image-container {
  text-align: center;
  margin-bottom: 35px;
}

.logo-img {
  width: 180px;
  height: auto;
}

p {
  font-size: 1.1rem;
  margin-bottom: 18px;
}

footer {
  background-color: #111111;
  text-align: center;
  padding: 18px 0;
  color: #999999;
  font-size: 0.9rem;
  border-top: 1px solid #222;
  margin-top: 60px;
}